.text-search {
  width: 100%;
  resize: none;
  margin-top: 1em;
}
.flex {
  display: flex;
}

.left-section {
  width: 25vw;
}

.right-section {
  width: 70vw;
  top: 0;
  right: 0;
  position: fixed;
}
